@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-blue: 50, 192, 240;
    --color-green: 50, 255, 95;
    --color-gray: 63, 67, 70;
    --color-red: 255, 0, 0;
    --color-secondary-border-bg: var(--color-gray);
  }
}
